@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');


:root{
     --main-color:#4834d4;
     --red:#e74c3c;
     --orange:#f39c12;
     --blue:#34495e;
     --white:#fff;
     --light-color:#999;
     --light-bg:#f5f5f5;
     --border:.2rem solid var(--blue);
     --box-shadow:0.5rem 1rem rgba(0,0,0,.1);


}
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}
*::selection{
    color: var(--white);
    background-color: var(--main-color);
}
 ::-webkit-scrollbar{
    height: 5rem;
    width: 1rem;
 }
 ::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
 }

 ::-webkit-scrollbar-track{
    background-color: transparent;
 }
 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
 body{
    background-color: var(--light-bg);
    padding-left: 35rem;
 }

section{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.message{
    background-color: var(--white);
    border-bottom: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;left: 0;
    z-index: 1000;

}
.message span{
    font-size: 2rem;
    color: var(--blue);
}
.message i{
    color: var(--red);
    cursor: pointer;
    font-size: 2.5rem;
    transition: .2s linear; 
}
.message i:hover{
    transform: rotate(90deg);
    color: var(--blue);
}
.heading{
    text-align:center ;
    font-size:3rem;
    color: var(--blue);
    margin-bottom: 2rem;
    text-transform: capitalize;
}
 .header{
    position: fixed;
    background-color: var(--white);
    top: 0; left: 0;
    border-right: var(--border);
    padding: 2rem;
    z-index: 1000;
    height: 100vh;
    width: 35rem;
 }
 .header .logo{
    font-size: 2.5rem;
    color: var(--blue);
    text-align: center;
    display: block;
 }
 .header .logo span{
    color: var(--main-color);
 }
.header .profile{
    border-radius: .5rem;
    border: var(--border);
    background-color: var(--light-bg);
    padding: 1.5rem;
    text-align: center;
    margin: 2rem 0;
}
.header .profile p{
    font-size: 2rem;
    color: var(--light-color);
    margin-bottom: .5rem;
}
.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    color: var(--white);
    cursor: pointer;
    padding: 1rem 3rem;
    text-align: center;
    text-transform: capitalize;
    
}

.btn,
.inline-btn{
    background-color: var(--main-color);
}
.inline-option-btn,
.option-btn{
    background-color: var(--orange);
}
.delete-btn,
.inline-delete-btn{
    background-color: var(--red);
}

.delete-btn,
.option-btn,
.btn{
    width: 100%;
}


.inline-btn,
.inline-option-btn,
.inline-delete-btn{

    margin-right:.5rem;
}
.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover{
   background-color: var(--blue);
}
.flex-btn{
    display: flex;
    gap: 1rem;
}


.header .navbar a{
    display: block;
    font-size: 2rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.header .navbar a span{
    color: var(--light-color);
    text-transform: capitalize;
}

.header .navbar a i{
    margin-right: 1.5rem;
    color: var(--main-color);
    transition: .2s linear;
}

.header .navbar a:hover i{
    margin-right: 2.5rem;
}

#menu-btn{
    font-size: 2rem;
    position: sticky;
    top: 1rem; left: 1rem;
    border-radius: .5rem;
    border: var(--border);
    z-index: 1100;
    background-color: var(--white);
    height: 4.5rem;
    width: 5rem;
    line-height: 4.2rem;
    color: var(--blue);
    cursor: pointer;
    text-align: center;
    display: none;
}
#menu-btn:hover{
    background-color: var(--blue);
    color: var(--white);
}


.dashboard .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.dashboard .box-container .box{
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 1.5rem;
    text-align: center;
}


.dashboard .box-container .box h3{
    font-size: 2rem;
    color: var(--blue);
    padding-bottom: 1.5rem;
}

.dashboard .box-container .box p{
    padding:1.5rem 1rem;
    margin: .5rem 0;
    border-radius: .5rem;
    background-color: var(--light-bg);
    color: var(--light-color);
    font-size: 1.8rem;
    border: var(--border);
}

.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form{
    background-color: var(--white);
    border-radius: .5rem;
    border: var(--border);
    padding: 2rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 50rem;
}

.form-container form h3{
    font-size: 2rem;
    color: var(--blue);
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.form-container form p{
    padding-top: .5rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    color: var(--light-color);
}

.form-container form p span{
    color: var(--main-color);
}

.form-container form .box{
    width: 100%;
    background-color: var(--light-bg);
    border-radius: .5rem;
    border: var(--border);
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--blue);
    margin: 1rem 0;
}

.post-editor{
    max-width: 80rem;
    margin: 0 auto;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    padding: 2em;
    padding-top: 1rem;
}
.post-editor form p{
    color: var(--light-color);
    font-size: 1.8rem;
    padding-top: 1rem;
}
.post-editor form p span{
    color: var(--red);
}
.post-editor form .box{
    width: 100%;
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 1.4rem;
    font-size: 2rem;
    color: var(--blue);
    margin: 1rem 0;
    border: var(--border);
}
.post-editor form textarea{
    resize: none;
    height: 40rem;
}
.post-editor form .image{
    width: 100%;
    height: 20rem;
    object-fit: contain;
    margin: 1rem 0;
}

.empty{
    width: 100%;
    border: var(border);
    background-color: var(--white);
    padding: 1.5rem;
    font-size: 2rem;
    color: var(--red);
    text-align: center;
    box-shadow: var(--box-shadow);
}

.show-posts .box-container{
    columns: 3 30rem;
    gap: 2rem;
}
.show-posts .box-container .box{
    margin-bottom: 2rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    background-color: var(--white);
    break-inside: avoid;
    text-overflow: ellipsis;
    overflow-x: hidden;


}

.show-posts .box-container .box .image{
    height: 20rem;
    width: 100%;
    object-fit: contain;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.show-posts .box-container .box .status{
    display: inline-block;
    border-radius: .5rem;
    color: var(--white);
    font-size: 2rem;
    padding: .5em 1.5rem;
    margin-bottom: 1rem;
}

.show-posts .box-container .box .post-title{
      font-size: 2rem;
      color: var(--blue);
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
      padding: .5rem 0;
}
.show-posts .box-container .box .post-content{
     line-height: 1.5;
     color: var(--light-color);
     font-size: 1.8rem;
     padding: 1rem 0;
}
.show-posts .box-container .box .post-content::after{
    content: '...';
}

.show-posts .box-container .box .icons{
     border-radius: .5rem;
     border: var(--border);
     background-color: var(--white);
     padding: 1.5rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 1rem 0;
     font-size: 2rem;
}
.show-posts .box-container .box .icons i{
     margin-left: .7rem;
     color: var(--light-color);
}
.show-posts .box-container .box .icons span{
     color: var(--main-color);
     margin-left: 0.5rem;
}


.show-posts .search-form{
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    border: var(--border);
    gap: 1;
}

.show-posts .search-form input{
    width: 100%;
    font-size: 2rem;
    color: var(--blue);
}
.show-posts .search-form button{
    cursor: pointer;
    color: var(--blue);
    font-size: 2rem;
    background-color: transparent;
}
.show-posts .search-form button:hover{
    color: var(--main-color);
}




























@media(max-width:991px){
    html{
        font-size: 55%;
    }

    body{
        
        padding-left: 0;
     }

    #menu-btn{
        display: inline-block;
    }
    .header{
        left: -35rem;
        transition: .2s linear;
    }

    .header.active{
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
    }
}

@media (max-width:768px) {
    #menu-btn{
        display: inline-block;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .flex-btn{
        flex-flow: column;
        gap: 0;
    }
}